<div *ngIf="stories.length > 0; else noStoriesMessage">
  <!-- Search form -->
  <div class="input-group" id="search-form">
    <input [(ngModel)]="query" type="text" class="form-control" placeholder="Search story...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
  </div>

  <!-- Stories table -->
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th class="hidden-xs">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let story of stories | search:'title,author,description':query; let i = index">
      <td>{{i + 1}}</td>
      <td><a routerLink="/story/{{story.id}}">{{story.title}}</a></td>
      <td>{{story.author}}</td>
      <td class="hidden-xs">{{story.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noStoriesMessage>
  <div class="alert alert-warning" role="alert">
    <strong>Oops!</strong> It looks like there are no stories yet. Try again later!
  </div>
</ng-template>
