<div class="container-fluid">
  <div class="page-header">
    <h1>
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{title}}
      <small class="hidden-xs">{{subtitle}}</small>
    </h1>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation"><a routerLink="/">Home</a></li>
    <li role="presentation"><a routerLink="/about">About</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>
