<div *ngIf="page; else noPageMessage">
  <!-- Page title and text -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a (click)="reset()" class="pull-right" id="refresh">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        {{story.title}}
      </h3>
    </div>
    <div class="panel-body">{{page.text}}</div>
  </div>

  <!-- Choices -->
  <div *ngIf="availableChoices().length > 0; else noChoicesMessage">
    <ol class="choices">
      <li *ngFor="let choice of availableChoices()" (click)="choose(choice)">
        <span class="choice">{{choice.text}}</span>
      </li>
    </ol>
  </div>
  <!-- No choices means that the ending of the story has been reached -->
  <ng-template #noChoicesMessage>
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-ok"></span>
      <strong>Hurray!</strong> You uncovered one ending of this story! Start over to find a new one.
    </div>
  </ng-template>

  <!-- Items -->
  <h4>Inventory and Events</h4>
  <table class="table" *ngIf="items.length > 0; else noItemsMessage">
    <thead>
    <tr>
      <th>Item or event</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
    </tr>
    </tbody>
  </table>
  <ng-template #noItemsMessage>
    <p>You do not have any items nor you witnessed any event.</p>
  </ng-template>
</div>
<ng-template #noPageMessage>
  <div class="alert alert-warning" role="alert">
    <strong>Oops!</strong> It looks like a page of this story is missing! We will fix the problem asap!
  </div>
</ng-template>
